# BSOD2 client configuration

#Server
#Server = symphony.cs.waikato.ac.nz
Server = voodoo.cs.waikato.ac.nz
Port = 54567

#54567

#34567


#Screen settings
ResX = 640
ResY = 480
Fullscreen = 0

#Modules
RenderModule = classic

#Graphics settings

#0 = Autodetect
#1 = Triangles. Will work on pretty much anything, but slow
#2 = PointSprites. 
#3 = Shaders. Requires a SM2-capable card.
ParticleMethod = 2

#Rendering tweaks
ParticleSizeScale = 2
ParticleSpeedScale = 0.75

#Less than this many FPS and we start dropping packets
#0 to disable
DropPacketThresh = 59

#Less than this many FPS and we start dropping whole flows
#0 to disable
DropFlowThresh = 30

#CGL
Headless = 0
CGLCompat = 0
