# Source URI for libtrace.
# eg: rtclient:name-of-rt-server:port
#     erf:/path/to/erf.trace
#     pcap:/path/to/pcap.trace
#     pcapint:eth0
source "rtclient:chasm"
#source "erf:/trace/waikato/1/20040312-000000-0.gz"
#source "erf:/trace/waikato/1/20040313-000000-0.gz"
#source "erf:/home/dlawson/short-trace.erf"

# this is the port that bsod_server will listen on for clients
# It is the only config option that isn't reparsed
listenport 12345


# BPF style filter to apply to the source URI. Works on any URI, but
# is only tested on ethernets
#filter "tcp"

# show SYN packets, unless they have the ACK bit set
# You'll need to set shownodata 1, and probably want to set showdata 0
#filter "(tcp[13] &2 = 2) and (tcp[13] &16 = 0)"

# show DNS traffic only
#filter "port 53"
#filter "tcp and port 53"

# Dynamically loaded modules for each of colour map, right position
# left position, and direction
colour_module "plugins/colour/colours.so"
# lpos is the "local" ("left") side.
lpos_module "plugins/position/network16.so"	
# rpos is the "remote" ("right") side
rpos_module "plugins/position/radial.so"
dir_module "plugins/direction/interface.so"

# whether to loop when the source finishes - only makes sense for offline
# traces
loop 1

# whether to show non-data packets (default 0) (TCP or UDP only, use a filter otherwise)
shownondata 0

# whether to show data packets (default 1) (TCP or UDP only, use a filter otherwise)
showdata 1

# whether to show control (syn, fin, rst) packets regardless of what the 
# previous two options are set to. (default 1)
showcontrol 1
