#                    ___           ___          _____    
#     _____         /  /\         /  /\        /  /::\   
#    /  /::\       /  /:/_       /  /::\      /  /:/\:\  
#   /  /:/\:\     /  /:/ /\     /  /:/\:\    /  /:/  \:\ 
#  /  /:/~/::\   /  /:/ /::\   /  /:/  \:\  /__/:/ \__\:|
# /__/:/ /:/\:| /__/:/ /:/\:\ /__/:/ \__\:\ \  \:\ /  /:/
# \  \:\/:/~/:/ \  \:\/:/~/:/ \  \:\ /  /:/  \  \:\  /:/ 
#  \  \::/ /:/   \  \::/ /:/   \  \:\  /:/    \  \:\/:/  
#   \  \:\/:/     \__\/ /:/     \  \:\/:/      \  \::/   
#    \  \::/        /__/:/       \  \::/        \__\/    
#     \__\/         \__\/         \__\/                  
#
#
#           Brendon and Sam's Online Display
#	    http://research.wand.net.nz/software/
#	    http://www.wand.net.nz

## Source
# Source URI for libtrace.
#
# eg: 
#     int:eth0
#     pcapint:eth0
#     erf:/path/to/erf.trace
#     pcap:/path/to/pcap.trace
#     rtclient:name-of-rtclient-server:port 
#     rt:name-of-rt-server:port
#
#source = "erf:/trace/ihug/3/20070212-053000-0.gz"
#source = "erf:/trace/waikato/2/20060615-000000-0.gz"
source = "erf:/trace/waikato/6/20080123-000000-0.gz"
#source = "erf:/home/bcj3/traces/interesting/20031109-120000.gz"
#source = "erf:/home/bcj3/traces/interesting/20031110-000000.gz"
#ource = "erf:/home/bcj3/traces/interesting/synscan2.erf"
#source = "erf:/home/bcj3/traces/interesting/icmpscan1.erf"
#source = "erf:/home/bcj3/traces/interesting/circlescan1.erf"
#source = "erf:/home/bcj3/traces/interesting/slammer.erf"

## basedir
# Where bsod is installed - used for finding plugins etc.  Note the trailing /
# If the server complains of being unable to load modules, this is the first
# thing that should be checked for correctness
#
basedir = "/home/yww4/bsod/server/"


#########################################################################
# Dynamically loaded modules for each of colour map, right position
# left position, and direction
# See the README file for descriptions of these modules. 

## dir_module
# This module is used to figure out which direction traffic is travelling
# see the README file for more details. If you use the destmac direction 
# module then don't forget to specify the mac address file as an argument
# to it.
# This file lists the mac address of the machine on the remote end of the
# the link.  There can be more than one MAC address.  See the README for
# more information.  This file MUST exist if you are using the destmac
# direction layout module.
# 
dir_module = "plugins/direction/interface.so"
#dir_module "plugins/direction/destmac.so etc/mac_addrs"

## color_module
# This module selects colours for packets.
colour_module = "plugins/colour/colours.so"

#########################################################################
## filter
# BPF style filter to apply to all packets.  This is not required.
# Examples:
#
# Show only TCP packets
#filter = "tcp"
#
# show SYN packets, unless they have the ACK bit set
# You'll need to set shownodata 1, and probably want to set showdata 0
#filter "(tcp[13] &2 = 2) and (tcp[13] &16 = 0)"
#
# show DNS traffic only
#filter "port 53"
#
# show other packets
#filter "not tcp and not udp"

## shownondata
# Show packets that don't contain TCP or UDP payload 
shownondata = 1

## showdata
# Show packets that do contain TCP or UDP payload 
showdata = 1

## showcontrol
# Show TCP control (syn/fin/rst) packets.
showcontrol = 1

#########################################################################

## blacklistdir
# Directory in which to save the files used for the blacklist, relative to
# the basedir. Defaults to basedir/blist/
# It is up to you to make sure this exists, it simply won't write the blacklist
# if it can't
blacklistdir = "blist/"

## pidfile
# Where to write the pidfile
#
pidfile = "/tmp/bsod.pid"

#########################################################################
## listenport
# The TCP/IP port that the server will listen on
#
# this is the port that bsod_server will listen on for clients
#
# Note: You must restart the server for changes for this to take effect
listenport = 54567

## loop 
# Continously loop a tracefile during tracefile playback.
loop = 1

## background
# Should bsod daemonise itself
background = 0

