# Source URI for libtrace.
# eg: rtclient:name-of-rt-server:port
#     erf:/path/to/erf.trace
#     pcap:/path/to/pcap.trace
#     pcapint:eth0
source "rtclient:chasm"

# this is the port that bsod_server will listen on for clients
# It is the only config option that isn't reparsed
listenport 12345

# BPF style filter to apply to the source URI. Works on any URI, but
# is only tested on ethernets
#filter "tcp and port 25"
filter "udp and port 53"

# Dynamically loaded modules for each of colour map, right position
# left position, and direction
colour_module "plugins/colour/colours.so"
# lpos is the "local" ("left") side.
lpos_module "plugins/position/network16.so"
# rpos is the "remote" ("right") side
rpos_module "plugins/position/radial.so"
dir_module "plugins/direction/interface.so"

# whether to loop when the source finishes - only makes sense for offline
# traces
loop 0
